.global-table-style a{
    text-decoration: none;    
}
.global-table-style a:hover{
    color:#f15a29;
}
.global-table-style td {
    text-align: center;
}
.display-type{
    display:none;
}
.error_cell{
    color:#ff0000;
}
.new-extension-creation{
    float: right;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 4em;    
}
.pagination-style p{
    float: right;
    margin-right: 6em;
    font-size: 14px;
}
.pagination-style p a{
    color:#f15a29;
}
.global-table-style a{
    color:#58595b;
}
.search-container{
    clear: both;
    position: relative;
    top: 25px;
}
.create-new-extension{
    border:2px solid #f15a29 !important;
    border-radius:4px;
}
#login_error p{
    float: right;
    position: relative;
    top: -12px;
    right: 26px;
}
#login_error strong, #login_error p{
    font-size: 12px;
}
#login_error{
    border:1px solid #c00;
    border-radius: 4px;
}